@charset "UTF-8";
/*--------------------------------------inicio seletores globais sem filhos (id ou class)*/
body{
    background-image: linear-gradient(to top,#000415 50%, #000000);
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    margin-top: 40px;
}

label{
    font-size: 20px;
}

u{
    text-decoration: underline rgb(0, 191, 255);
}
hr{
    width: 50px;
    border-color: rgb(0, 191, 255);
    margin-top: 30px;
}

/*--------------------------------------fim seletores globais sem filhos (id ou class)*/


/*-----------------------------------inicio seletores globais com filhos (id ou class)*/

h1#tituloH1{
    font-size: 20px;
    font-style: italic;
    margin-top: 5px;
    font-weight: 100;  
}
/**/

h2{
    font-size: 35px;
    color:rgb(0, 191, 255);
    margin-bottom: 10px;
}
h2#tituloH2_1 > span#tituloGads_1{
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;

}
h2#tituloH2_2{
    margin-top: 10px;
    color: rgb(66, 241, 2);
}
/**/

fieldset#bordaPrincipal{
    margin: auto;
    width: 750px;
    height: 480px;
    border-color: #00bfff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(0, 191, 255);

}
/**/

legend > img#imgCarlos{
    width: 150px;
    border: 2px solid;
    border-color: rgb(0, 191, 255);
    border-radius: 100px;
    margin-top: 15px;
    box-shadow: 1px 1px 8px rgb(0, 191, 255);

}
/**/

section#barraProgresso{
    height: 50px;
    border-radius: 10px;
    background-color: rgb(66, 241, 2);
    border: 1px solid rgb(0, 200, 255); 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;

}
/**/

p{
    margin-bottom: 5px;
}
p#headline{ 
    text-align: center;
    width: 680px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;

}
p#headline > span#txtVenderMais{
    color: rgb(66, 241, 2);
    font-weight: 600;

}
/**/

input#inputPrincipal{
    padding: 15px 40px 15px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    outline: none;
}
input#inputPrincipal:focus-within{
    border: solid 2px;
    border-color: rgb(0, 191, 255);

}
input#botaoOk{
    background-color: rgb(66, 241, 2);
    padding: 17px 30px 17px 30px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;

}
::placeholder{
    color: white;
    font-size: 15px;
}
/**/

div#botaoWhatsapp{
    padding: 30px 0px 30px 0px;
    
}
div#botaoWhatsapp > a#linkWhatsWeb{
    color: white;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 20px;
    background-color: rgb(66, 241, 2);
    font-size:30px;

}
/**/
a#linkFooter{
    color:rgb(87, 87, 87);
    text-decoration: none;
}

div#avaliacoes{
    width: 600px;
    margin: auto;
    font-size: 15px;
}
div#avaliacoes > p{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 18px;
}
span#stars{
    color: rgb(255, 238, 0);
}
p#valueStars{
    display: inline-block;
}
span#linkStar > a{
    color: rgb(255, 238, 0);
    text-decoration: none;
}
div#conteinerStars{
    margin-top: -10px;
    margin-bottom: -15px;
}
span#linkStar > a:hover{
    color: rgb(0, 191, 255);
}
/**/


