@charset "UTF-8";

:root{
    --defaultBlue: #00bfff;
    --defaultGreen: #31b800;
    --defaultOrange: #e96900;
    --defaultRed: #ff0000;
    --defaultGray: #ffffffa1;
}

*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top,#000415 50%, #000000);
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

u{
    text-decoration: underline var(--defaultBlue);
}

h1#tituloH1{
    font-size: 15px;
    font-style: italic;
    margin-top: 3px;
    font-weight: 100;
    color: var(--defaultGray);
}

h2{
    font-size: 38px;
    color: var(--defaultBlue);
    margin-bottom: 10px;
}
h2#tituloH2_1 > span#tituloGads_1{
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;

}
h2#tituloH2_2{
    margin-top: 10px;
    color: var(--defaultGreen);
}

fieldset#bordaPrincipal{
    width: 50%;
    margin-left: auto;
    height: 490px;
    border-color: var(--defaultBlue);
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--defaultBlue);
}

fieldset#bordaPrincipal2{
    border-color: var(--defaultBlue);
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--defaultBlue);
    margin-top: 55px;
    margin-right: 20px;
    margin-left: 14%;
    height: 435px;
    width: 20%;
    font-size: 17px;
    line-height: 1.3em;
}

p#apendiceFieldset2{
    font-size: 14px;
    margin-top: 25px;
    text-align: left;
    color: var(--defaultGray);
}

fieldset#bordaPrincipal2{
    text-align: justify;
    padding: 10px 20px 20px 20px;
    font-weight: 100;
}

 div > fieldset{
    margin-left: 15%;
    float: left;
 }

legend > img#legend1{
    width: 150px;
    border: 2px solid;
    border-color: var(--defaultBlue);
    border-radius: 100px;
    margin-top: 15px;
    box-shadow: 1px 1px 8px var(--defaultBlue);

}

legend > #legend2{
    width: 300px;
    border: 10px solid;
    border-color: var(--defaultBlue);
    border-radius: 10px;
    background-color: var(--defaultBlue);
    box-shadow: 1px 1px 5px var(--defaultBlue);
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

div#copyDate{
    background-color: var(--defaultGreen);
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:5px;
    font-size: 20px;
    margin-bottom: 20px;
}   

section#barraProgresso{
    height: 40px;
    border-radius: 10px;
    background-color: var(--defaultGreen);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;

}

p{
    margin-bottom: 5px;
}

p#headline{ 
    text-align: center;
    width: 680px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;

}

p#headline > span#txtVenderMais{
    color: var(--defaultGreen);
    font-weight: 600;

}

input#inputPrincipal{
    padding: 15px 40px 15px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 370px;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    outline: none;
}

input#inputPrincipal:focus-within{
    border: solid 2px;
    border-color: var(--defaultBlue);

}

input#botaoOk{
    background-color: var(--defaultGreen);
    padding: 17px 30px 17px 30px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer ;

}

::placeholder{
    color: white;
    font-size: 15px;
}

div#botaoWhatsapp{
    padding: 30px 0px 30px 0px;
    
}

div#botaoWhatsapp > a#linkWhatsWeb{
    color: white;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 20px;
    background-color: var(--defaultGreen);
    font-size:30px;

}

a#linkFooter{
    color: var(--defaultGray);
    text-decoration: none;
}

#divFooter{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    font-size: 16px;
}

div#avaliacoes{
    font-size: 15px;
    color: var(--defaultGray);
    margin-bottom: 30px;
}

div#avaliacoes > p{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 20px;
}

span#stars{
    color: rgb(255, 238, 0);
}

p#valueStars{
    display: inline-block;
}

span#linkStar > a{
    /* color: rgb(255, 238, 0); */
    color: var(--defaultBlue);
    text-decoration: none;
}

div#conteinerStars{
    margin-top: -10px;
    margin-bottom: -15px;
}

span#linkStar > a:hover{
    color: rgb(255, 238, 0);
    /* color: rgb(0, 191, 255); */
}

/**POPUP*/
.exit-row{
    display: flex;
    flex-wrap: wrap;
}

.e-col-8{
    flex-basis: 60%;
    padding: 25px;
}

.e-col-4{
    flex-basis: 40%;
}

#exit-popup{
    display: none;
    max-width: 900px;
    min-width: 800px;
    width: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    border-radius: 15px;
    border: 4px solid var(--defaultGreen);
    box-shadow: 1px 1px 7px var(--defaultGreen);
    overflow: hidden;
}

#exit-popup img{
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 4/5;
    object-fit: cover;

}

#exit-popup h2{
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000000ca;
}

#exit-popup p{
    font-size: 1.6em;
    color: #0000009c;
    line-height: 1.3em;
}

#exit-popup-close{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 2.5em;
    opacity: 0.45;
}

#exit-popup-close:hover{
    opacity: 1;
    cursor: pointer;
}

.exit-content{
    max-width: 480px;
    margin: auto;
}

.btn{
    padding: 20px 25px;
    border: none;
    background-color: var(--defaultGreen);
    color: white;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 30px;
}
